In [42]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [43]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Egvekinot,RU,2021-07-31 17:21:22,66.3167,-179.1667,32.56,75,100,9.31
1,1,Albany,US,2021-07-31 17:19:23,42.6001,-73.9662,72.36,47,18,1.01
2,2,Salalah,OM,2021-07-31 17:21:23,17.0151,54.0924,77.09,94,90,9.22
3,3,Busselton,AU,2021-07-31 17:21:24,-33.6500,115.3333,51.08,77,90,29.68
4,4,Cape Town,ZA,2021-07-31 17:17:18,-33.9258,18.4232,61.27,79,0,5.75

In [44]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [45]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [46]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [47]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [53]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Salalah,OM,2021-07-31 17:21:23,17.0151,54.0924,77.09,94,90,9.22
13,13,Faanui,PF,2021-07-31 17:21:27,-16.4833,-151.7500,77.14,67,66,18.57
17,17,Samana,DO,2021-07-31 17:21:29,19.2056,-69.3369,88.02,74,40,11.50
19,19,Hithadhoo,MV,2021-07-31 17:21:30,-0.6000,73.0833,81.68,73,92,5.21
23,23,Edd,ER,2021-07-31 17:21:31,13.9297,41.6925,89.55,70,80,7.40
29,29,Hilo,US,2021-07-31 17:17:30,19.7297,-155.0900,75.79,81,90,4.61
31,31,Kapaa,US,2021-07-31 17:21:35,22.0752,-159.3190,80.92,72,75,1.99
32,32,Cururupu,BR,2021-07-31 17:21:35,-1.8283,-44.8683,85.17,63,35,6.33
49,49,Atuona,PF,2021-07-31 17:21:43,-9.8000,-139.0333,76.51,73,37,12.50
53,53,Lucapa,AO,2021-07-31 17:21:46,-8.4192,20.7447,77.38,22,35,4.41

In [54]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [55]:
preferred_cities_df.count()

City_ID       198
City          198
Country       198
Date          198
Lat           198
Lng           198
Max Temp      198
Humidity      198
Cloudiness    198
Wind Speed    198
dtype: int64

In [56]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
2     Salalah      OM     77.09  17.0151   54.0924
13     Faanui      PF     77.14 -16.4833 -151.7500
17     Samana      DO     88.02  19.2056  -69.3369
19  Hithadhoo      MV     81.68  -0.6000   73.0833
23        Edd      ER     89.55  13.9297   41.6925
29       Hilo      US     75.79  19.7297 -155.0900
31      Kapaa      US     80.92  22.0752 -159.3190
32   Cururupu      BR     85.17  -1.8283  -44.8683
49     Atuona      PF     76.51  -9.8000 -139.0333
53     Lucapa      AO     77.38  -8.4192   20.7447

In [82]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [83]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Salalah,OM,77.09,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
13,Faanui,PF,77.14,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
17,Samana,DO,88.02,19.2056,-69.3369,The Bannister - Hotel & Yacht Club
19,Hithadhoo,MV,81.68,-0.6000,73.0833,Scoop Guest House
23,Edd,ER,89.55,13.9297,41.6925,
...,...,...,...,...,...,...
548,Jelenia Gora,PL,76.44,50.8997,15.7290,Hotel BARON Karczma Grodzka
554,Gamboula,CF,76.15,4.1178,15.1393,
555,Manjeri,IN,75.88,11.1167,76.1167,ITTC
558,Shubarkuduk,KZ,84.74,49.1447,56.4872,Sirius
561,Benghazi,LY,85.41,32.1167,20.0667,Tibesti Hotel

In [84]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [85]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [86]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [87]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))