## Deliverable 2. Create a Customer Travel Destinations Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Current Description
0,0,Buluang,PH,13.3068,123.3425,82.22,82,100,12.80,2021-08-01 22:53:18,light rain
1,1,Tomatlan,MX,19.9333,-105.2500,86.81,67,11,7.23,2021-08-01 22:53:19,few clouds
2,2,Bambous Virieux,MU,-20.3428,57.7575,66.45,94,75,8.05,2021-08-01 22:53:19,light intensity shower rain
3,3,Esperance,AU,-33.8667,121.9000,49.84,67,65,21.34,2021-08-01 22:52:15,broken clouds
4,4,Punta Arenas,CL,-53.1500,-70.9167,42.91,75,40,17.27,2021-08-01 22:53:20,scattered clouds

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
print("What is your minimum temperature preference?")
min_temp = float(input("min_temp: "))

print("What is your maximum temperature preference?")
max_temp = float(input("max_temp: "))

What is your minimum temperature preference?
min_temp: 75
What is your maximum temperature preference?
max_temp: 90

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df = preferred_cities_df
preferred_cities_df.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Current Description
0,0,Buluang,PH,13.3068,123.3425,82.22,82,100,12.80,2021-08-01 22:53:18,light rain
1,1,Tomatlan,MX,19.9333,-105.2500,86.81,67,11,7.23,2021-08-01 22:53:19,few clouds
6,6,Guerrero Negro,MX,27.9769,-114.0611,82.81,55,3,13.51,2021-08-01 22:53:21,clear sky
7,7,Matoury,GF,4.8483,-52.3317,83.01,78,0,2.30,2021-08-01 22:53:21,clear sky
11,11,Avarua,CK,-21.2078,-159.7750,75.25,94,90,13.80,2021-08-01 22:53:23,moderate rain
13,13,Barajevo,RS,44.5789,20.4158,78.48,42,33,9.24,2021-08-01 22:53:24,scattered clouds
15,15,Kapaa,US,22.0752,-159.3190,84.18,80,64,5.01,2021-08-01 22:53:25,light rain
19,19,Salalah,OM,17.0151,54.0924,75.22,93,100,6.35,2021-08-01 22:51:41,overcast clouds
20,20,Sulangan,PH,11.1373,123.7228,83.84,73,100,13.24,2021-08-01 22:53:27,overcast clouds
21,21,Kovur,IN,14.4833,79.9833,84.07,53,96,15.64,2021-08-01 22:53:27,overcast clouds

In [15]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Date                   0
Current Description    0
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.isnull().sum()
preferred_cities_df.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Current Description
0,0,Buluang,PH,13.3068,123.3425,82.22,82,100,12.80,2021-08-01 22:53:18,light rain
1,1,Tomatlan,MX,19.9333,-105.2500,86.81,67,11,7.23,2021-08-01 22:53:19,few clouds
6,6,Guerrero Negro,MX,27.9769,-114.0611,82.81,55,3,13.51,2021-08-01 22:53:21,clear sky
7,7,Matoury,GF,4.8483,-52.3317,83.01,78,0,2.30,2021-08-01 22:53:21,clear sky
11,11,Avarua,CK,-21.2078,-159.7750,75.25,94,90,13.80,2021-08-01 22:53:23,moderate rain
13,13,Barajevo,RS,44.5789,20.4158,78.48,42,33,9.24,2021-08-01 22:53:24,scattered clouds
15,15,Kapaa,US,22.0752,-159.3190,84.18,80,64,5.01,2021-08-01 22:53:25,light rain
19,19,Salalah,OM,17.0151,54.0924,75.22,93,100,6.35,2021-08-01 22:51:41,overcast clouds
20,20,Sulangan,PH,11.1373,123.7228,83.84,73,100,13.24,2021-08-01 22:53:27,overcast clouds
21,21,Kovur,IN,14.4833,79.9833,84.07,53,96,15.64,2021-08-01 22:53:27,overcast clouds

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Buluang      PH     82.22  13.3068  123.3425
1         Tomatlan      MX     86.81  19.9333 -105.2500
6   Guerrero Negro      MX     82.81  27.9769 -114.0611
7          Matoury      GF     83.01   4.8483  -52.3317
11          Avarua      CK     75.25 -21.2078 -159.7750
13        Barajevo      RS     78.48  44.5789   20.4158
15           Kapaa      US     84.18  22.0752 -159.3190
19         Salalah      OM     75.22  17.0151   54.0924
20        Sulangan      PH     83.84  11.1373  123.7228
21           Kovur      IN     84.07  14.4833   79.9833

In [19]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

hotel_df = hotel_df.dropna()
hotel_df.isnull().sum()
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Buluang,PH,82.22,13.3068,123.3425,Enon Beach Resort
1,Tomatlan,MX,86.81,19.9333,-105.2500,El Salvial
6,Guerrero Negro,MX,82.81,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
7,Matoury,GF,83.01,4.8483,-52.3317,Hôtel La Marmotte
11,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
13,Barajevo,RS,78.48,44.5789,20.4158,Frizerski salon Danijela
15,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
19,Salalah,OM,75.22,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
20,Sulangan,PH,83.84,11.1373,123.7228,Maia's Beach Resort
21,Kovur,IN,84.07,14.4833,79.9833,Hotel Yesh Park

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))